---
import Layout from "../layouts/Layout.astro"
import Timepicker from "../components/timepicker.vue"
---
<Layout title="timepicker" metaTitle="timepicker">
    <main class="flex justify-center items-center mt-[200px]">
        <Timepicker client:load />
    </main>
</Layout>
