---
interface Props {
	metaData: {
		title: String,
		description: String
	};
}
const { metaData } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="title" content=`${metaData.title}` />
		<meta name="description" content=`${metaData.description}` />
		<title>{metaData.title}</title>
	</head>
	<body class="flex justify-center">
		<div class="font-fredoka">
			<nav class="flex justify-center gap-x-8 m-6 text-primary">
				<a href="/">Home</a>
				<a href="/about">About</a>
				<a href="/products">Buy Iphone</a>
				<a href="/time">Time Picker</a>
			</nav>
			<div class="w-[400px]">
				<slot />
			</div>
		</div>
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		/* background: #BBDDD8; */
		background: #c1ebc0;
		/* background-size: 224px; */
	}
	@font-face {
		font-family: 'spacemono';
		src: url('/public/fonts/SpaceMono-Regular.ttf');
	}
	@font-face {
		font-family: 'spacemono_bold';
		src: url('/public/fonts/SpaceMono-Bold.ttf');
	}
	@font-face {
		font-family: 'fredoka';
		src: url('/public/fonts/fredoka-one.one-regular.ttf');
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
